* {
    margin: 0;
    padding: 0;
}
.imgbox {
    display: grid;
    height: 100%;
}

.formsFormat {
    position:relative; left:120px; top: 120px;
    font-family: monospace;
    color: aqua;
    font-size:20px;
}

.input_style {
    width: 200px;
    border-style: none none solid none;
    border-color: aqua;
    background: transparent;
    -webkit-text-fill-color: aqua;
    outline: none;
    caret-color: aqua;
    font-family: monospace;
}

.button_style {
    border-style: none;
    background: transparent;
    -webkit-text-fill-color: aqua;
    font-family: monospace;
    
}

body {
    position: static;
    background-image: url('../images/Akali.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}
